<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add shop</title>
</head>
<body>
<a href="/Shops">Go back</a>
<div align="center">
    <form method="post">
        <label>Name
            <br>
            <input type="text" name="name"></br>
        </label>
        <label>Address
            <br>
            <input type="text" name="address"></br>
        </label>
        <label>Phone number
            <br>
            <input type="text" name="phone"></br>
            <br>
        </label>
        <button type="submit">Add shop</button>
    </form>
</div>
</body>
</html>